.login-button {
  @apply bg-[#7B2869] text-white text-xl h-[40px] w-[160px] rounded-[20px] shadow-md hover:bg-[#6a225c] transition-colors duration-300 flex items-center justify-center;
  background: var(--primary);
}

.signup-login-switch-button {
  @apply text-sm text-gray-500;
}

.signup-login-switch-button:hover {
  @apply text-gray-700;
  cursor: pointer;
  text-decoration: underline;
}

.input {
  @apply w-full px-4 py-2 border-2 border-[#7B2869] rounded-lg;
}

.navbar-container {
  @apply py-8 px-10 flex justify-center items-center;
  background: var(--secondary);
}

.navbar-inner-container {
  @apply py-3 px-10 flex flex-grow-1 justify-between items-center rounded-lg;
  background: var(--background);
}

.navbar-title {
  @apply text-2xl font-bold mb-0;
  color: var(--primary);
  font-family: serif;
}

.navbar-button {
  @apply w-10 h-10 rounded-lg flex items-center justify-center;
}

.navbar-button img {
  @apply w-6 h-6;
}

.navbar-button:hover {
  background: var(--primary);
}

.navbar-button:hover img {
  filter: brightness(0) invert(1);
}

.note-item {
  @apply rounded-lg p-[20px] shadow-lg;
  background: var(--background);
}

.first-note-item {
  @apply mr-[-40px] pr-[60px] rounded-r-none shadow-none;
  background: var(--background-secondary);
}

.note-item-header {
  @apply flex justify-between items-start mb-4;
}

.note-item-date {
  @apply font-['Source_Serif_Pro'];
  color: var(--primary);
}

.note-item-button {
  @apply hover:opacity-70 transition-opacity;
}

.note-item-button {
  @apply hover:opacity-70 transition-opacity;
}

.note-item-content {
  @apply text-lg font-['Source_Serif_Pro'] p-2;
  color: var(--primary);
}

.button-icon {
  @apply w-5 h-5;
}

.note-item-content-input {
  @apply bg-white rounded-lg text-lg font-['Source_Serif_Pro'] p-2 self-stretch;
  color: var(--primary);
}
